@-webkit-keyframes my {
    0% { color: #f80f14; }
    50% { color: #fff;  }
    100% { color: #f80f14;  }
}
@-moz-keyframes my {
    0% { color: #f80f14;  }
    50% { color: #fff;  }
    100% { color: #f80f14;  }
}
@-o-keyframes my {
    0% { color: #f80f14; }
    50% { color: #fff; }
    100% { color: #f80f14;  }
}
@keyframes my {
    0% { color: #fff;  }
    10% { color: #fffbc0;  }
    20% { color: #fff494;  }
    20% { color: #ffd564;  }
    30% { color: #ffae4b;  }
    40% { color: #ff8b41;  }
    50% { color: #ff9928;  }
    100% { color: #f80f14;  }
}
.textNhapNhay {
    -webkit-animation: my 2000ms infinite;
    -moz-animation: my 2000ms infinite;
    -o-animation: my 2000ms infinite;
    animation: my 2000ms infinite;
}
.text {
    color: limegreen;
}

