.header-cha{
	width: 1000px;
	display: flex;
	justify-content: space-between;

}
.header-con1 img{
	width: 200px;
	height: 50px;
	/*margin-left: 20px;
	margin-right: 300px;*/
	float: left;
}
/*.timkiem{
	width: 600px;
}*/
.header-con2  {
	width: 600px;
	float: right;
	text-align: right;
}
.header-con2 input{
	width: 350px;
}
.header-con2 button{
	align-items: center;
}
.header-con3 {
	width: 100px;
	float: right;
	text-align: right;
	/*display: flex;*/

}
.header-con3 i{
	margin-right: 0px;
}